:root {
  --bg-color: #000028;
  --text-color: #f1b2ce;
  --accent-color: #ff0070;
  --title-color: #db00ff;
  --decor-text-color: #000028;
  --menu-color: #ff0070;
  --background-image: url('../images/cover-image.png');
}
